*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

/* ========== NAVIGATION BAR STYLES ========== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: black;
    padding: 10px 20px;
    height: 77px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center; 
}

.navbar a{
    text-decoration: none; 
    color:azure;
    padding: 15px 20px;
    margin: 0 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(230, 185, 104);
    border-radius: 25px;
}

.navbar li{
    display: flex;
    align-items: center;
    height: 100%;;
}

.nav-items{
    font-size: 15px;
}


/* ========== LOGO STYLE ========== */
.logo{
    display: flex;
    align-items: center; 
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
}

.logo-name{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* ========== CART STYLE ========== */
.cart-icon {
    font-size: 15px; 
    color: white;
    position: relative; 
}

.cart-icon:hover {
    background-color: rgb(230, 185, 104); 
}


